manifest {
  author = 'Julián Maggio'
  description = 'Flujo de trabajo para calcular las frecuencias de nucleótidos de un FASTA'
  version = '1.0'
}

// Configuración por defecto
params {
  // Parámetros por defecto para el flujo de trabajo
  // Por ejemplo:
  input = "data/fasta_test.fa"
  outdir = '/results'
}

// Perfiles para diferentes entornos de ejecución
profiles {
  // Perfil por defecto (ejecución local)
  standard {
    process.executor = 'local'
  }
}
